{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - SymBook
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8">
		<div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md">
			<h1 class="text-3xl font-bold mb-6 text-indigo-800 title-font">Mentions Légales</h1>

		
				<section>
					<h2 class="text-xl font-semibold mb-3 text-indigo-600" style="text-align: justify;">Propriété intellectuelle</h2>
					<p>L'ensemble du contenu de ce site (structure, textes, images, etc.) est la propriété exclusive de SymBook et est protégé par les lois relatives à la propriété intellectuelle.</p>
					<p>Toute reproduction totale ou partielle de ce contenu est strictement interdite sans autorisation préalable.</p>
				</section>

				<section>
					<h2 class="text-xl font-semibold mb-3 text-indigo-600">Crédits</h2>
					<p>Conception et développement: Amine Kilani & Ghada Azizi</p>
					<p>Encadrement: Mme Nidhal Cherif</p>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
