{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
<input value="Ajouter" type="submit" href="{{ path('app_categories_create') }}">
<h1>Liste des catégories</h1>
    <table class="table table-striped">
        <tr>
            <th>Libellé</th>
        </tr>
        {% for cat in categories %}
            <tr>
                <td>{{ cat.libelle }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}